*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(image.png);
    background-size: cover
}


header{
    position: fixed;
    
    align-items: center;
    padding: 0 500px;    
    text-decoration: dashed;
}

div{
    display: flex;
    gap: 100px;
}

main{
    text-align: center;
    padding-top: 300px;
    padding-right: 760px;
    color: darkred;
}

